{% extends "libros/base.html" %}
{%block script%}
<script>

function getParameterByName(name, url) {
  if (!url) url = window.location.href;
  name = name.replace(/[\[\]]/g, "\\$&");
  var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
      results = regex.exec(url);
  if (!results) return null;
  if (!results[2]) return '';
  return decodeURIComponent(results[2].replace(/\+/g, " "));
}


$(document).ready(function(){
  // console.log("working");
  var query = getParameterByName('q');
  console.log(query);
  //var nextTweetUrl;
  var nextLibroUrl;
  var cont = 0;


  function attachLibro(libroValue, prepend) {
    var libroDateDisplay = libroValue.timesince;
    var libroAutor = libroValue.autor;
    var libroNombre = libroValue.titulo;
    var libroEditorial = libroValue.editorial;
    var libroPrecio = libroValue.precio;
    var libroid = libroValue.id;
    if(prepend==true){
      $("#ajax_libros").prepend(
        "<span class='card' style='width: 20rem; margin: 30px'>" +
        "<img data-src='#' alt='" + libroNombre + "'>" +
        "<div class='card-body'>"+
        "<h4 class='card-title'>Autor:" + libroAutor +"</h4>"+
        "<h6 class='card-subtitle mb-2 text-muted'>Editorial: " + libroEditorial +"</h6>"+
        "<p class='card-text'>Precio: $" + libroPrecio +" MXN</p>"+
        "<p><a class='nav-link1' href='/libros/detalle/" + libroid +"' style='color: black'>Detalles del libro</a></p>"+
        "<p>&nbsp; |" + libroDateDisplay +"</p>"+
        "</div>"+
        "</span>")
    }
    else {
      $("#ajax_libros").append(
        "<span class='card' style='width: 20rem;'>" +
        "<img data-src='#' alt='" + libroNombre + "'>" +
        "<div class='card-body'>"+
        "<h4 class='card-title'>Autor:" + libroAutor +"</h4>"+
        "<h6 class='card-subtitle mb-2 text-muted'>Editorial: " + libroEditorial +"</h6>"+
        "<p class='card-text'>Precio: $" + libroPrecio +" MXN</p>"+
        "<p>"+ libroDateDisplay +"</p>"+
        "<p><a class='nav-link1' href='/libros/detalle/" + libroid +"' style='color: black'>Detalles del libro</a></p>"+
        "<p><a class='nav-link1' href='/libros/detalle/" + libroid +"/delete' style='color: black'>Eliminar libro</a></p>"+
        "<p><a class='nav-link1' href='/libros/detalle/" + libroid +"/edit' style='color: black'>Modificar libro</a></p>"+
        "</div>"+
        "</span>"
      )
    }
  }
  function fecthLibros(url) {
    console.log("fetching...");
    var fetchUrl;
    if (!url){
      fetchUrl='/api/libros/';
      console.log(fetchUrl);
    }
    else{
      fetchUrl=url;
      console.log(fetchUrl);
    }
    $.ajax({
      url: fetchUrl,
      data:{
        "q": query
      },
      method: "GET",
      success: function(data){
        console.log(data);
        nextLibroUrl = data.next;
        $.each(data.results, function(key, value){
          var libroKey = key;
          attachLibro(value);
        });
      },
      error: function(data) {
        console.log("error");
        console.log(data);
      }
    });
  }
  fecthLibros();

  $("#loadmore").click(function(event) {
    event.preventDefault();
    console.log("Click me!");
    if (nextLibroUrl) {
      fecthLibros(nextLibroUrl);
    }
  })
  $("#libros-form").submit(function(event) {
      event.preventDefault();
      var _this = $(this);
      console.log(event);
      console.log(_this.serialize());
      var formData = _this.serialize();

      $.ajax({
        url: "api/libros/create/",
        data: formData,
        method: "POST",
        success: function(data){
          _this.find("#id_content").val("");
          attachLibro(data, true);
        },
        error: function(data) {
          console.log("error");
          console.log(data);
          console.log(data.statusText);
          console.log(data.status);
        }
      });
  })
});
</script>
{%endblock%}
{%block content%}
    {% include "libros/Busqueda.html" %}
    {% if not request.GET.q %}
      {% include "libros/form.html" with form=create_form action_url=create_ajax btn_title="Registrar" form_id="libros-form"%}
    {% endif%}
    <article class="row" id="ajax_libros">

    </article>
    <button  class="btn btn-secondary" style="padding: 10px; margin: 10px;" id="loadmore">Cargar mas Libros</button>

{%endblock%}
