{% extends "libros/base.html"%}
{%block content%}
    {% include "libros/Busqueda.html" %}
    <button class="btn btn-secondary" style="padding: 10px; margin: 10px;"><a class="nav-link1" style='color: black;' href="/libros/create">Registrar Libro nuevo</a></button>
    <br/>
    <div class="row">
    {% for object in object_list %}
    <span class="card" style="width: 20rem;">
    <img data-src="#" alt="{{object.Nombre}}">
    <div class="card-body">
    <h4 class="card-title">Autor: {{object.autor}}</h4>
    <h6 class="card-subtitle mb-2 text-muted">Editorial: {{object.editorial}}</h6>
    <p class="card-text">Precio: ${{object.precio}} MXN</p>
    <p><a class="nav-link1" href="/libros/detalle/{{object.id}}" style="color: black">Detalles del libro</a></p>
    <p><a class="nav-link1" href="/libros/detalle/{{object.id}}/delete" style="color: black">Eliminar libro</a></p>
    <p><a class="nav-link1" href="/libros/detalle/{{object.id}}/edit" style="color: black">Modificar libro</a></p>
    </div>
    </span>
    {% endfor %}
{%endblock%}
